
<div class="profile-top"></div>
<div class="show-profile">
	<div class="personal container-fluid">
		<div class="profile row">
			<% if @profile == @current_profile %>
				<h1>Your Profile</h1>
			<% else %>
				<h1><%= @profile.username %>'s Profile</h1>
			<% end %>
			<br>
			<div class="col-md-6">
				<%= image_tag @profile.avatar.url(:medium) %>
			</div>
			<div class="col-md-6">
				<ul>
					<li>
						<h2><%= @profile.username %></h2>
					</li>
					<br>
					<li>
						<p>Name: <%= @profile.fname %> <%= @profile.lname %><p>
					</li>
					
					<li>
						<p>Email: <%= @profile.email %><p>
					</li>
					<li>
						<p>Birthday: <%= @profile.birthdate.to_formatted_s(:long) %><p>
					</li>
					<li>
						<p>Bio: <%= @profile.bio %><p>
					</li>
					<% if @profile == @current_profile %>
						<p><%= link_to "Edit", new_profile_path %></p>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="profile-recipes row">
			<% if @profile == @current_profile %>
				<h1>Your Recipes</h1>
			<% else %>
				<h1><%= @profile.username %>'s Recipes</h1>
			<% end %>
			<% if @recipes %>
				<% @recipes.each do |recipe| %>
					<div class="image col-md-5">
						<% if recipe.avatar != nil %>
							<%= image_tag recipe.avatar %>
						<% else %>
							<%= image_tag '/food_prep.jpg' %>
						<% end %>
					</div>
					<div class="recipe-info col-md-7">
						<h3><%= link_to recipe.recipeName, recipe_path(recipe) %></h3>
						<h4><%= recipe.source %></h4>
						<p>Total Cook Time: <%= recipe.time %></p>
						<p>Yield: <%= recipe.yield %></p>
						<p>Added By: <%= link_to @profiles.where(user_id: recipe.user_id).first.username, profile_path(recipe.user_id) %></p>
						<% if current_user.id != recipe.user_id %>
							<% if @favorites.where(recipe_id: recipe.id).any? %>
								<div class="saved">
									<p>√</p>
								</div>
							<% else %>
								<div class="fav">
									<%=link_to "+", favorites_create_path(:recipe_id => recipe.id), method: :post, remote: true, class: "new_fav" %>
									<p>save to RecipeBox</p>
								</div>
								<div class="added">
									<p>√</p>
									<h2>Added to RecipeBox!</h2>
								</div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>