<!DOCTYPE html>
<html>
<head>
  <title>FoodProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://transitionculture.org/wp-content/uploads/potato.jpg">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Amaranth:700|Scada:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Montserrat|Arvo' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="banner"></div>
	<div class="header">
		<ul>
			<% if current_user %>
				<li>
					<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
				</li>
				<li>
					<%= link_to "My Profile", profile_path(@profile) %>
				</li>
				<li>
					<%= link_to "Food Community", profiles_path %>
				</li>
				<li>
					<%= link_to "Create a Recipe", new_recipe_path %>
				</li>
				<li>
					<%= link_to "My RecipeBox", favorites_show_path %>
				</li>
			<% else %>
				<li>
					<%= link_to "Sign Up", new_user_registration_path %>
				</li>
				<li>
					<%= link_to "Sign In", new_user_session_path %>
				</li>
			<% end %>
		</ul>
	</div>

	<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
	<% end %>

	<% if flash[:alert] %>
		<div class="alert alert-warning"><%= flash[:alert] %></div>
	<% end %>

	<div class="layer">
		<h1>COOKitUP</h1>
		<h3>Your One-stop-Shop for everything Recipes</h3>
		<div class="link">	
			<p><%= link_to "Get Cooking", new_user_registration_path %></p>
		</div>
	</div>

	<%= yield %>

	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<a href="https://www.facebook.com">
						<i class="fa fa-facebook fa-3x"></i>
					</a>
					<a href="https://www.twitter.com">
						<i class="fa fa-twitter fa-3x"></i>
					</a>
					<a href="https://github.com/kylejbennett">
						<i class="fa fa-github fa-3x"></i>
					</a>
					<a href="https://www.linkedin.com/in/kyle-bennett-b796a593">
						<i class="fa fa-linkedin fa-3x"></i>
					</a>
				</div>
				<div class="col-md-3">
					
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>